*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.main-container{

margin-left: 500px;
margin-top: 300px;

 text-align: center;
width: 500px;
 color: purple;
 background-color: aliceblue;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}


input{
    padding: 20px;
    width: 300px;
    border: 2px solid black;
    
}
h1{
    text-align: center;
    border-bottom: 4px solid white;
}

button{
    padding: 20px;
margin-right: 10px;
color: purple;
background-color: pink;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: pink;
}
.main-input{
margin-top: 60px;
    margin-left: 550px;
}